footer {
  color: var(--text-primary);
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  transition: color 0.4s ease;
}

footer .text-start {
  color: var(--text-footer-start);
  transition: color 0.4s ease;

  span {
    color: var(--text-footer-span);
    font-size: 1rem;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(134, 128, 128, 0.3);
    transition: color 0.4s ease;
  }
}

footer .row {
  margin: 0;
}

footer .container {
  padding-left: 0;
  padding-right: 0;
}